@model List<dynamic>

<div class="card mb-3">
	<div class="card-body bg-light d-flex">
		<input class="form-control" />
		<button class="btn btn-secondary ms-1">Create</button>
	</div>
</div>
<ul class="list-group">
	@foreach (var profile in Model)
	{
	<li class="list-group-item">@profile.GlobalFundTransferProfileID</li>
	}
</ul>
